In [120]:

import HarleyDB
import importlib
importlib.reload(HarleyDB)
db = HarleyDB.HarleyDB("test4.db")
db.md5
db.list_table()
db.to_fasta("gly1")
db.to_msa("gly1")

{'test': 'AAAHAHAHHAHAA', 'test2': 'AAHCHCHCHCHCH'}

In [121]:
db.generate_nter_db()

[('osef', 'Z-type', 'AAAAAA')]

In [122]:
db.get_col_values("summary","flag")

['Calcyanin with known N-ter']

In [92]:
db2 = HarleyDB.HarleyDB("test2.db")
db2.md5

'4ab84c75cebc03e5f9e8b4448750b44f'

In [93]:
db3 = HarleyDB.HarleyDB("test3.db")
db3.md5
print(db3.list_table())

['gly1', 'gly2', 'gly3', 'glyx3', 'nterdb', 'summary', 'features', 'ccya', 'genomes']

In [94]:
db.compare_scheme(db3)

True

In [95]:
db3.is_empty("gly1")

True

In [96]:
db4 = HarleyDB.HarleyDB("test4.db")
db4.md5
db4.to_fasta("gly1")

'4ab84c75cebc03e5f9e8b4448750b44f'

In [98]:
db4.to_msa("gly1")

{'test': 'AAAHAHAHHAHAA', 'test2': 'AAHCHCHCHCHCH'}

In [117]:
import sqlite3

con = sqlite3.connect("/Users/mmillet/HARLEY/micro/micro.db")
cur = con.cursor()


cur.execute('''SELECT f.sequence_id, 
            f.feature_src,
            f.feature_seq
        FROM pcalf_features as f JOIN pcalf_summary as s 
        ON f.sequence_id = s.sequence_id 
        WHERE f.feature_id = "N-ter" AND s.flag = "Calcyanin with known N-ter"''')
row = []
for r in cur.fetchall():
    nter,src = r[1].split("||")
    row.append((r[0],nter,r[-1]))
import pandas as pd
pd.DataFrame(row)

,0,1,2
0,lcl|CAIP01000155.1_cds_CCI32158.1_2529,Z-type,ANSDSSASTGEKFTHNPASFLAAAGQVANQIARAAKTAGEAAAQQW...
1,lcl|HE972560.1_cds_CCH91948.1_2442,Z-type,ANPDSSASAGEQFTHNPADFLAAAQRMANQIAKAAKTAGEAAAQQW...
2,lcl|HE972658.1_cds_CCH96286.1_113,Z-type,ANPDSSASAGEQVTQNPADFLAAAGEVANQIAKAAKTAGEAAAQQW...
3,lcl|HE972973.1_cds_CCI02293.1_2221,Z-type,ANPDSSASAGEQFTHNPASLLAAAGEVANQIAKTAKTAGEAAAQQW...
4,lcl|HE973166.1_cds_CCI07557.1_2995,Z-type,ANPDSSASAGEQFTHNPADFLAAAQRMANQMAKAAKTAGEAAAQQW...
...,...,...,...
142,RSCJ01000023.1_56,Y-type,SSEGIIKAQSSDIAVKAEVIQVYSQSTSIQLARTSTQKASCLGFFA...
143,lcl|JACYLT010000036.1_cds_MBF2004893.1_2227,Y-type,SSEGIIKAQSSDIAVKAEVIQVYSQSTSIQLARTSTQKASCLGFFA...
144,lcl|NZ_AJLM01000017.1_cds_WP_016872895.1_609,Y-type,SSEGIIKAQSSDIAVKAEVIQVYSQSTSIQLARTSTQKASCLGFFA...
145,lcl|NZ_AJLN01000033.1_cds_WP_016872895.1_323,Y-type,SSEGIIKAQSSDIAVKAEVIQVYSQSTSIQLARTSTQKASCLGFFA...
146,lcl|NZ_RSCJ01000023.1_cds_WP_016872895.1_4841,Y-type,SSEGIIKAQSSDIAVKAEVIQVYSQSTSIQLARTSTQKASCLGFFA...

In [127]:
"user_genome	classification	fastani_reference	fastani_reference_radius	fastani_taxonomy	fastani_ani	fastani_af	closest_placement_reference	closest_placement_radius	closest_placement_taxonomy	closest_placement_ani	closest_placement_af	pplacer_taxonomy	classification_method	note	other_related_references(genome_id,species_name,radius,ANI,AF)	msa_percent	translation_table	red_value	warnings".split("\t")

['user_genome',
 'classification',
 'fastani_reference',
 'fastani_reference_radius',
 'fastani_taxonomy',
 'fastani_ani',
 'fastani_af',
 'closest_placement_reference',
 'closest_placement_radius',
 'closest_placement_taxonomy',
 'closest_placement_ani',
 'closest_placement_af',
 'pplacer_taxonomy',
 'classification_method',
 'note',
 'other_related_references(genome_id,species_name,radius,ANI,AF)',
 'msa_percent',
 'translation_table',
 'red_value',
 'warnings']